<div class="container justified basic-background">
    <img id="logo" src="assets/images/gameLogoAndName.svg" alt="Logo Projet"/>
    
    <div class="btn-main-container">
        <button mat-raised-button id="btn-classique" class="btn-main" routerLink="/options/classic">Classique</button>
        <button mat-raised-button id="btn-temps-limite" class="btn-main" routerLink="/options/limited">Temps limité</button>
        <button mat-raised-button id="btn-configuration" class="btn-main" routerLink="/config">Configuration</button>
    </div>

    <footer class="footer-item">
        <p>
            <span></span>, <span></span>, <span></span>, 
            <span></span>, <span></span>
        </p>
    </footer>
</div>
